html, body, main, span, img,
article, p, div, button {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
}
body {
    background-color:#cb3d47;
    background-size: cover;
}
main {
    background-color:#dd6673;
    text-align: center;
    width: 700px;
    padding: 30px 0px;
    margin: 0 auto;
}
.sobre-mim {
    background-color: #ffd6ce;
    padding: 5px 50px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}
.informações>span {
    display: block;
}
.informações{
    margin-top: 30px;
    margin-bottom: 30px;
}
span {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
p {
    font-weight: 500;
    margin-top: 8px;
}
.foto {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.foto img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
button {
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #ffd6ce;
    border: 2px solid #f7a291;
}